.numcard td{
    border: 1px solid;
    height: 2rem;
    width: 1rem;
    text-align: center;
    background-color: #2b2b2b;
    color: white;
    border-radius: 0.2rem;
}
td {
    text-align: center;
}